.app-landing-texts {
  color: #06283d;
}

.app-landing-paragraph-title {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 300;
}

.app-landing-paragraph-body {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5rem;
}

.landing-content {
  padding: 3rem;
  height: 100%;
  background-color: #dff6ff;
  display: flex;
  flex-wrap: wrap;
}

.app-landing-texts-container {
  flex: 0.7;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10%;
}

.app-landing-image {
  width: 40rem;
  height: 40rem;
  margin-left: 100px;
}

.app-landing-buttons-container {
  margin: 1rem;
  display: flex;
}

.app-landing-buttons {
  width: 12rem;
  height: 2.5rem;
  font-family: Roboto;
  font-size: 1.2rem;
  letter-spacing: 0;
}

.app-landing-join-button {
  margin-right: 1rem;
  background-color: #06283d;
  color: #fff;
}

.app-landing-jobs-button {
  background-color: #47b5ff;
  color: #fff;
}
